<div id="header">
	<a ng-tap="$navigate.go('/alarms')" class="backButton">Back</a>
	<h1 ng-tap="$navigate.go('/')" id="headTitle">BREWPi</h1>
</div>
<div id="contentBody">
	Add Brew Time<br />
	<br />
	<div class="editAlarm">
		<div ng-controller="TimepickerCtrl" class="timePicker">
		  <div ng-model="myTime" ng-change="changed()" style="display:inline-block;">
		    <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
		  </div>
		</div>
		<div class="alarmDays">
			<span class="dayNotEnabled" data-ng-click="toggleClass('su')" id="su">S</span>
			<span class="dayNotEnabled" data-ng-click="toggleClass('mo')" id="mo">M</span>
			<span class="dayNotEnabled" data-ng-click="toggleClass('tu')" id="tu">T</span>
			<span class="dayNotEnabled" data-ng-click="toggleClass('we')" id="we">W</span>
			<span class="dayNotEnabled" data-ng-click="toggleClass('th')" id="th">T</span>
			<span class="dayNotEnabled" data-ng-click="toggleClass('fr')" id="fr">F</span>
			<span class="dayNotEnabled" data-ng-click="toggleClass('sa')" id="sa">S</span>
		</div>
		<div class="alarmNotEnabled" data-ng-click="toggleEnabledIcon()" id="enabledIcon"></div>
		<div class="alarmAdd">
			<a class="btn btn-primary" ng-tap="$navigate.go('/alarms')">Add</a>
		</div>
		<div class="clearFloat" />
	</div>
</div>