<div id="header">
	<a ng-tap="$navigate.go('/home')" class="backButton">Back</a>
	<h1>BREWPi</h1>
</div>
<div id="contentBody">
	<div class="alarmList">
		<ul id="nlists">
			<li ng-repeat="alarm in alarms">
				<div ng-tap="$navigate.go('/alarms/'+alarm.id)" class="pointer">
					<span class="alarmTime">{{alarm.time | stringToTime}}</span>
					<span class="alarmDays">
						<span class="{{alarm.su | iif : 'dayEnabled' : 'dayNotEnabled'}}">S</span>
						<span class="{{alarm.mo | iif : 'dayEnabled' : 'dayNotEnabled'}}">M</span>
						<span class="{{alarm.tu | iif : 'dayEnabled' : 'dayNotEnabled'}}">T</span>
						<span class="{{alarm.we | iif : 'dayEnabled' : 'dayNotEnabled'}}">W</span>
						<span class="{{alarm.tu | iif : 'dayEnabled' : 'dayNotEnabled'}}">T</span>
						<span class="{{alarm.fr | iif : 'dayEnabled' : 'dayNotEnabled'}}">F</span>
						<span class="{{alarm.sa | iif : 'dayEnabled' : 'dayNotEnabled'}}">S</span>
					</span>
					<span class="alarmEnabled"><img src="img/{{alarm.enabled | iif : 'alarmEnabled.png' : 'alarmDisabled.png'}}" alt="" /></span>
				</div>
			</li>
		</ul>
	</div>
	<div><a class="btn btn-primary" ng-tap="$navigate.go('/alarms/add')">Add Alarm</a></div>
</div>