<div id="header">
	<a ng-tap="$navigate.go('/alarms')" class="backButton">Back</a>
	<h1>BREWPi</h1>
</div>
<div id="contentBody">
	Edit Brew Time<br />
	<br />
	<div class="modalAlert alert alert-block alert-error notification fade in" ng-show="displayDeleteAlarmConfirmation">
        <h6>Are you sure you want to remove this brew time?</h6>
        <div class="form-controls-alert">
            <a class="btn" data-ng-click="toggleDeleteConfirmationPopup(false)">No</a>
            <a class="btn btn-danger" data-ng-click="deleteAlarm(alarm.id)">Yes</a>
        </div>
    </div>
	<div class="editAlarm">
		<div ng-controller="TimepickerCtrl" class="timePicker">
		  <div ng-model="myTime" ng-change="changed()" style="display:inline-block;">
		    <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
		  </div>
		</div>
		<div class="alarmDays">
			<span class="{{alarm.su | iif : 'dayEnabled' : 'dayNotEnabled'}}">S</span>
			<span class="{{alarm.mo | iif : 'dayEnabled' : 'dayNotEnabled'}}">M</span>
			<span class="{{alarm.tu | iif : 'dayEnabled' : 'dayNotEnabled'}}">T</span>
			<span class="{{alarm.we | iif : 'dayEnabled' : 'dayNotEnabled'}}">W</span>
			<span class="{{alarm.tu | iif : 'dayEnabled' : 'dayNotEnabled'}}">T</span>
			<span class="{{alarm.fr | iif : 'dayEnabled' : 'dayNotEnabled'}}">F</span>
			<span class="{{alarm.sa | iif : 'dayEnabled' : 'dayNotEnabled'}}">S</span>
		</div>
		<div class="alarmEnabled">
			<img src="{{alarm.enabled | iif : 'img/alarmEnabled.png' : 'img/alarmDisabled.png'}}" alt="" />
		</div>
		<div class="alarmRemove">
			<a class="btn btn-primary" data-ng-click="toggleDeleteConfirmationPopup(true)">Remove</a>
		</div>
		<div class="clearFloat" />
	</div>
</div>