<div id="header">
	<a ng-tap="$navigate.go('/alarms')" class="backButton">Back</a>
	<h1>BREWPi</h1>
</div>
<div id="contentBody">
	Edit Alarm<br />
	<br />
	<div ng-controller="TimepickerCtrl">
	  <div ng-model="alarmTime" ng-change="changed()" class="well well-small" style="display:inline-block;">
	    <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
	  </div>
	</div>
	<span class="alarmTime">{{alarm.time | stringToTime}}</span>
	<span class="alarmDays">
		<span class="{{alarm.su | iif : 'dayEnabled' : 'dayNotEnabled'}}">S</span>
		<span class="{{alarm.mo | iif : 'dayEnabled' : 'dayNotEnabled'}}">M</span>
		<span class="{{alarm.tu | iif : 'dayEnabled' : 'dayNotEnabled'}}">T</span>
		<span class="{{alarm.we | iif : 'dayEnabled' : 'dayNotEnabled'}}">W</span>
		<span class="{{alarm.tu | iif : 'dayEnabled' : 'dayNotEnabled'}}">T</span>
		<span class="{{alarm.fr | iif : 'dayEnabled' : 'dayNotEnabled'}}">F</span>
		<span class="{{alarm.sa | iif : 'dayEnabled' : 'dayNotEnabled'}}">S</span>
	</span>
	<span class="alarmEnabled"><img src="{{alarm.enabled | iif : 'img/alarmEnabled.png' : 'img/alarmDisabled.png'}}" alt="" /></span>
	&nbsp;&nbsp;
	<a class="btn btn-primary" ng-tap="$navigate.go('/home')">Delete</a>
</div>