<div id="header">
	<h1 ng-tap="$navigate.go('/')" id="headTitle">BREWPi</h1>
</div>
<div id="contentBody">
	<div class="modalAlert alert alert-block alert-error notification fade in" id="alertBox" style="display: none">
        <h6 id="alertMessage"></h6>
    </div>
	
	<p class="todaysDate">{{todaysDate}}<p>
		
	<div id="countDown"><span class="timeDigits">{{countDownHour}}</span>:<span class="timeDigits">{{countDownMin}}</span>:<span class="timeDigits">{{countDownSec}}</span> {{countDownAmPm}}</div>
	
	<div id="alarmEnabled">Next Brew: &nbsp;{{nextBrew}}</div>
	
	<p class="btn-group">
		<a class="btn btn-primary" data-ng-click="power(true)">Start</a>
		<a class="btn btn-primary" data-ng-click="power(false)">Stop</a>
		<a class="btn btn-primary" ng-tap="$navigate.go('/alarms')">Brew Times</a>
	</p>
</div>