/* app css stylesheet */
a, .nav, .pagination, .carousel a, .pointer, #headTitle { cursor: pointer; }
#su, #mo, #tu, #we, #th, #fr, #sa, #enabledIcon { cursor: pointer;}

.clearFloat { clear: both; }
.modalAlert {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	z-index: 9999;
	width: 300px;
	left: 10%;
	right: 10%;
}
#alertBox {
	margin-top: 60px;
}
#container {
	background: #231513;
	color: #fff;
}
#header {
	position: relative;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: -moz-linear-gradient(45deg, #231513 0%, #7C5852 100%);
    background: -o-linear-gradient(45deg, #231513 0%,#7C5852 100%);
    background: -ms-linear-gradient(45deg, #231513 0%,#7C5852 100%);
    background: linear-gradient(180deg, #231513 0%,#7C5852 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231513', endColorstr='#7C5852',GradientType=1 );
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}
#header h1 {
	background: url("../img/coffee.png") no-repeat top left;
	height: 50px;
	width: 260px;
	margin: 5px auto;
}
#contentBody {
	padding: 20px 0;
	text-align: center;
	font-size: 18px;
}
.mb-page {
	background-color: #7C5852;
}

#countDown {
	font-family: Verdana, Arial, sans-serif;
	color: #fff;
	font-size: 25px;
	padding: 10px;
	margin: 55px 10px 55px 55px;
}
.timeDigits {
	padding: 15px;
	font-size: 55px;
	background: #fff;
	color: #000;
	width: 100px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}
#alarmEnabled {
	margin: 35px 0;
}

.backButton {
	margin: 15px 0 0 0px;
    left:20px;/*change the position*/
    top:10px;/*change the position*/   
    position:absolute;
    background-repeat:repeat-x;
    background-color: rgba(124, 88, 82, 1);/*change this and the background color for the :before element*/
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    height:30px;
    padding: 0 10px 0 8px;
    z-index : 0;
    border-radius: 6px;
    -webkit-border-top-left-radius : 10px 15px;
    -webkit-border-bottom-left-radius : 10px 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    box-shadow :-1px -1px 0px rgba(0,0,0,0.2)inset,
        0 1px 2px rgba(0,0,0,0.8)inset;
    font-size : 11px;
    display : block; 
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px #000;
    line-height : 30px;
    font-family : HelveticaNeue;
    font-weight: 700;
    -webkit-background-size : 30px;
}
 
.backButton:before{
    position:absolute;
    top:9.9%;
    left:-5px;
    -webkit-background-size : 22px 22px;
    background-position :-2px -1.5px;
    background-color: rgba(124, 88, 82, 1);/*change to the same as the main element*/
    background-image :  
        -webkit-gradient(linear, left bottom, right top, 
            from(rgba(0,0,0,0)), 
            color-stop(0.5, rgba(0,0,0,0)), 
            color-stop(0.5, rgba(255,255,255,0.1)), 
            to(rgba(255,255,255,0.3))); 
    height: 25px;
    width: 25px;
    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);
    -webkit-border-top-right-radius : 100px 40px;
    -webkit-border-top-left-radius : 30px 2px;
    -webkit-border-bottom-right-radius : 2px 30px;
    -webkit-border-bottom-left-radius : 40px 100px;
    z-index: 1;
    content: ' ';
    border-left : 1.5px solid rgba(255,255,255,0.3);
    box-shadow :  1px 1px 0 rgba(0,0,0,0.2) inset,
        -1px 1px 1px rgba(0,0,0,0.5) inset;
    -webkit-mask-image : 
        -webkit-gradient(linear, left top, right bottom,
            from(#000000), 
            color-stop(0.33,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
}

a.backButton, a.backButton:hover {
	color: #fff !important;
	text-decoration: none !important;
}

.alarmList ul#nlists { 
	padding: 0;
	margin: 10px 5px;
	list-style: none;
}
.alarmList ul#nlists li { 
	font-size: 25px;
	text-shadow: 1px 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	border-bottom: 1px solid #AD9B97;
	background: #86635D; 
	display: block;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#86635D) to(#AD9B97));
	background-image: -webkit-linear-gradient(top, #86635D, #AD9B97);
	background-image: -moz-linear-gradient(top, #86635D, #AD9B97);
	background-image: -o-linear-gradient(top, #86635D, #AD9B97);
	background-image: linear-gradient(top, #86635D, #AD9B97);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin: 0 0 5px 0;
	padding: 10px;
}

.alarmList ul#nlists li a { 
	position: relative; 
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 15px 0px; 
	padding-left: 10px;
	text-decoration: none; 
	font-size: 1.4em; 
	color: #fff;
	font-weight: bold;
	overflow: hidden;
}
.alarmList ul#nlists li a:hover { 
	color: #cecece;
}

.rounded-corners {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
}

.dayEnabled {
	color: #fff;
	font-weight: bold;
}

.dayNotEnabled {
	color: #A28E8E;
	font-weight: bold;
}

.alarmList .alarmTime {
	display: inline-block;
	text-align: left;
	margin-right: 45px;
}
.alarmList .alarmDays {
	display: inline-block;
	text-align: left;
	margin-right: 45px;
}
.alarmList .alarmEnabled {
	display: inline-block;	
}
.editAlarm .alarmTime {
	display: inline-block;
	text-align: left;
	margin-right: 45px;
}
.editAlarm {
	margin: 10px auto;
	width: 470px;
}

.editAlarm .timePicker {
	float: left;
}
.editAlarm .alarmDays {
	float: left;
	text-align: left;
	vertical-align: bottom;
	padding: 37px 25px 0 25px;
}
.editAlarm .alarmEnabled {
	float: left;
	margin: 34px 0px;
	background: url('../../app/img/alarmEnabled.png') top left no-repeat;
	width: 25px;
	height: 25px;
}
.editAlarm .alarmNotEnabled {
	float: left;
	margin: 34px 0px;
	background: url('../../app/img/alarmDisabled.png') top left no-repeat;
	width: 25px;
	height: 25px;
}
.editAlarm .alarmSave {
	float: left;
	padding: 34px 0 0 15px;
}
.editAlarm .alarmRemove {
	
}
.editAlarm .alarmAdd {
	float: left;
	padding: 34px 0 0 15px;
}